body {
  background-color: #DFCDB4;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  margin: 0;
}

.navbar {
  background-color: #B0A18F;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 0.875em 1.5625em;
  text-align: center;
  display: inline-block;
  font-size: 120%;
  /* Learned some stuff about how to make this navbar here:
   https://www.w3schools.com/css/css_link.asp */
}

.navbar a:hover {
  color: white;
  background-color: #6B5D4D;
}

div.topbar {
  overflow: hidden;
  text-align: center;
  background-color: #429398;
  color: white;
  padding: 1.25em;
  /*All my color palletes are located here:
  http://www.colourlovers.com/palette/1389950/teal_brocade*/
}

.content {
  margin: 1.5625em;
  background-color: #FBEED3;
  border-radius: 0.3125em;
  padding: 1.5625em;
  box-shadow: 0.3125em 0.3125em 0.3125em #6B5D4D;
  /*Learned this from a couple of different places and combined my knowledge.
  Idea for boxed like content:
  https://www.w3schools.com/css/css_boxmodel.asp
  Shadow effects:
  https://www.w3schools.com/css/css3_shadows.asp
  Rounded borders:
  https://www.w3schools.com/css/css3_borders.asp*/
}

.content::after{
  content: "";
  clear: both;
  display: table;
  /*this puppy was my holy grail I finally figured out how to keep my columns
  inside of it's parent div I got this from here:
  https://www.w3schools.com/css/css_rwd_grid.asp*/
}

.column{
  width: 50%;
  float: left;
  position: relative;
}

#pics {
  max-width: 80%;
  height: auto;
  display: block;
}

.source {
  color: white;
  position: absolute;
  bottom: 60px;
  right: 25%;
  /* I know I cheesed this but I think it looks good this way. I got the idea
  from: https://www.w3schools.com/css/css3_images.asp */
}

.source a {
  color: white;
}

.gallery {
background-color: #B0A18F;
max-width: 80%;
text-align: center;
}

.gallery a {
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.gallery a:hover {
  color: white;
  background-color: #6B5D4D;
}
