body{
  background-color: #DFCDB4;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  margin: 0;
}

div.navbar{
  background-color: #B0A18F;
  font-size: 1.17em;
  text-align: center;
  position: fixed;
  top: 20%;
  width: 100%;
}

a.navlink {
  text-decoration: none;
  color: black;
  padding: 0.875em 1.5625em;
  text-align: center;
  display: inline-block;
  /* Learned some stuff about how to make this navbar here:
   https://www.w3schools.com/css/css_link.asp */
}

a.navlink:hover {
  color: white;
  background-color: #6B5D4D;
}

div.topbar{
  overflow: hidden;
  text-align: center;
  background-color: #429398;
  color: white;
  padding: 1.25em;
  position: fixed;
  top: 0;
  width: 100%;
  height: 200px;
  /*All my color palletes are located here:
  http://www.colourlovers.com/palette/1389950/teal_brocade*/
}

.content{
  margin-top: 270px;
  margin-left: 1.5625em;
  margin-right: 1.5625em;
  margin-bottom: 40px;
  /*margin: 1.5625em;*/
  background-color: #FBEED3;
  border-radius: 0.3125em;
  padding: 1.5625em;
  box-shadow: 0.3125em 0.3125em 0.3125em #6B5D4D;
  /*Learned this from a couple of different places and combined my knowledge.
  Idea for boxed like content:
  https://www.w3schools.com/css/css_boxmodel.asp
  Shadow effects:
  https://www.w3schools.com/css/css3_shadows.asp
  Rounded borders:
  https://www.w3schools.com/css/css3_borders.asp*/
}
